<% if admin_logado %>
  <div align='right'>
    <h2> Interface do administrador </h2>
  </div>
  <div class="dados">
    <h3>Todos os Usuários: <%= @usuarios.count %></h3>
    <h3>Todos os Retwitteiros:</h3>
    <h3>Tweets Cadastrados (Retwittados):</h3>
  </div>
<% else %>
  <% form_for @admin do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :password,"Senha" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Entrar' %>
  </p>
<% end %>
<% end %>
