<% title 'Início' %>
<div class='usuario'>
  <h2><%= image_tag session[:profile_image_url], :size => '70x70' %> <%= link_to "#{session[:screen_name]}", "http://twitter.com/#{session[:screen_name]}" %></h2>
  <p><%= auto_link session[:bio] %></p>
  <p class='usuario_stats'>
    <% unless session[:location].blank? %>
      <b><%= session[:location] %></b> | 
    <% end %>
    <%= session[:friends_count] %> Seguindo | <%= session[:followers_count] %> Seguidores
  </p>
</div>
<% if notice %>
  <div id='notice'><%= notice %></div>
<% end %>
  <div id='apoiando'> 
    <h3>Apoiando</h3>
    <% for supportship in Supportship.where(:user_name == session[:screen_name]) %>
      <%= link_to supportship.user_name, "/usuarios/#{supportship.user_name}", :class => 'apoiado'  %> (<%= link_to 'Parar de apoiar', destroy_support_url(:id => supportship.id), :confirm => 'Tem certeza?' %>)<br/>
    <% end %>
  </div>
  <h3>Mensagems cadastradas</h3>
  <div class='mensagens'>
    <table>
      <% for tweet in @tweets %>
        <tr>
          <td><%= auto_link(tweet.tweet, :target => '_blank', :username_url_base => "http://#{request.host_with_port}/users/")%></td>
          <td><%= link_to 'habilitar' %>
          <td><%= link_to 'tuitar' , "tuitar/#{tweet.id}" %>
          <td><%= link_to 'editar', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'excluir', tweet, :confirm => 'Tem certeza? Isso é definitivo.', :method => :delete %></td> 
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
  <br>
  <br>
  <br>
  <%= render 'form' %>
