<% title 'Início' %>
<div class='usuario'>
  <h2><%= image_tag session[:profile_image_url], :size => '70x70' %> <%= link_to "#{session[:screen_name]}", "http://twitter.com/#{session[:screen_name]}" %></h2>
  <p><%= auto_link session[:bio] %></p>
  <p class='usuario_stats'>
    <% unless session[:location].blank? %>
      <b><%= session[:location] %></b> | 
    <% end %>
    <%= session[:friends_count] %> Seguindo | <%= session[:followers_count] %> Seguidores
  </p>
</div>
<br>
<br>
<% if notice %>
  <div id='notice'><%= notice %></div>
<% end %>

  <h3> Mensagems cadastradas </h3>
  <div class='mensagens'>
    <table>
      <% for tweet in @tweets %>
        <tr>
          <td><%= tweet.tweet %></td>
          <td><%= link_to 'tuitar' %>
          <td><%= link_to 'editar', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'excluir', tweet, :confirm => 'Tem certeza? Isso é definitivo.', :method => :delete %></td> 
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
  <%= render 'form' %>
