<%= auto_discovery_link_tag %>

<h1>Twitteiro | Campanhas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Prêmio</th>
    <th>Df</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campanhas.each do |campanha| %>
  <tr>
    <td><%= campanha.nome %></td>
    <td><%= campanha.premio %></td>
    <td><%= campanha.df %></td>
    <td><%= campanha.tweet %></td>
    <td><%= link_to 'Show', campanha %></td>
    <td><%= link_to 'Edit', edit_campanha_path(campanha) %></td>
    <td><%= link_to 'Destroy', campanha, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campanha', new_campanha_path %>
