<%%= simple_form_for(@<%= singular_name %>) do |f| %>
  <%% if @<%= singular_name %>.errors.any? %>
    <div id='error_explanation'>
      <h2><%%= pluralize(@<%= singular_name %>.errors.count, 'erro') %> proibiram <%= singular_name %> de ser salva:</h2>

      <ul>
      <%% @<%= singular_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

  <div class='inputs'>
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class='actions'>
    <%%= f.button :submit %>
  </div>
<%% end %>
