<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Twitteiro - Engage seus clientes no Twitter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails" %>
  <%= metatags %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="logo">
    <h1> Twitteiro </h1><p> Engage seus clientes no Twitter</p>
  </div>

  <%= yield %>

<br>
<br>
<br>
<%= link_to 'Início', root_path %>
<%= link_to 'Usuários', usuarios_path %>
<%= link_to 'Admin' , admin_path %>

<div class='rodape'>
  <p>&copy; 2010 Orygens.com. Todos os direitos reservados.</p>
</div>
</body>
</html>
